body { 
	padding-top: 30px; 
	font-family: arial,verdana,sans-serif,Georgia;
  	text-align: left;
  	background: white; 
	}

.container .jumbortron	{ 
	border-radius: 30px; 
	}

div.picture_box {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 15px;			/*hack to correctly show top padding*/
	border: 5px solid black;
	border-radius: 5px;
	background: white;
    }

div.indent1 {
	margin-left: 25px;
    }

div.indent2 {
	margin-left: 50px;
	border: 5px solid grey;
	border-radius: 5px;
	padding: 10px;
	background: #2f2f1e;
    }

div.indent3 {
	border: 5px solid grey;
	border-radius: 5px;
	margin-left: 75px;
	padding-top: 10px;
	padding-left: 10px;
	background: white;
	color: #cc5200;
	font-weight: bold;
    }